<section class="features">
  <div class="container">
    <div class="features__item text_default">
      <img class="features__image" src="../img/features-speed.png" alt="Скорость">
      Скорость
    </div>
    <div class="features__item text_default">
      <img class="features__image" src="../img/features-quality.png" alt="Качество">
      Качество
    </div>
    <div class="features__item text_default">
      <img class="features__image features__image-3" src="../img/features-price.png" alt="Разумные цены">
      Разумные цены
    </div>
    <div class="features__item text_default">
      <img class="features__image" src="../img/features-result.png" alt="Великолепный результат">
      Великолепный<br>результат
    </div>
  </div>
</section>
