<footer class="footer">
  <div class="container">
    <div class="footer__part">
      <img class="footer__logo" src="img/logo.png" alt="Digital Olymp">
      <p class="footer__copyright text text_light">Copyright © 2016 All Rights Reserved by digitalolymp.com</p>
    </div>
    <div class="footer__part">
      <p class="footer__phone text text_default">+7 495 227 36 94</p>
      <div class="footer__lang">
        <a class="footer__link text text_default-bold" href="#">Ru</a>
        <a class="footer__link text text_default-bold" href="#">De</a>
      </div>
    </div>
  </div>
</footer>
