<section class="portfolio">
  <div class="container">
    <h1 class="portfolio__header text text_header">Портфолио</h1>
    <div class="portfolio__items">
      <a class="portfolio__item portfolio__image-container portfolio__image-container-1" href="al_systems.html">
        <img class="portfolio__image" src="img/portfolio__item-aluminum-systems.jpg" alt="Алюминиевые системы">
        <div class="portfolio__image-hover">
          <h3 class="portfolio__image-text text text_light">Cайт компании <br> Алюминиевые системы</h3>
        </div>
      </a>
      <div class="portfolio__item">
        <a class="portfolio__image-container" href="#">
          <img class="portfolio__image" src="img/portfolio__item-mobil-one-1.jpg" alt="Специальный проект для mobil 1">
          <div class="portfolio__image-hover">
            <h3 class="portfolio__image-text text text_light">Специальный <br> проект для Mobil 1</h3>
          </div>
        </a>
        <a class="portfolio__image-container" href="#">
          <img class="portfolio__image" src="img/portfolio__item-mobil-one-2.jpg" alt="Специальный проект для mobil 1">
          <div class="portfolio__image-hover">
            <h3 class="portfolio__image-text text text_light">Сайт типографии <br> Republic</h3>
          </div>
        </a>
        <a class="portfolio__image-container" href="#">
          <img class="portfolio__image" src="img/portfolio__item-mobil-one-3.jpg" alt="Специальный проект для mobil 1">
          <div class="portfolio__image-hover">
            <h3 class="portfolio__image-text text text_light">Сайт ресторана <br> Русские сезоны</h3>
          </div>
        </a>
        <a class="portfolio__image-container" href="#">
          <img class="portfolio__image" src="img/portfolio__item-mobil-one-4.jpg" alt="Специальный проект для mobil 1">
          <div class="portfolio__image-hover">
            <h3 class="portfolio__image-text text text_light">Сайт компании <br> Старатели</h3>
          </div>
        </a>
      </div>
    </div>
    <a class="portfolio__button button button_default text_default" href="portfolio.html">Все проекты</a>
  </div>
</section>
