<section class="portfolio">
  <div class="container">
    <h1 class="portfolio__header text text_header">Портфолио</h1>
    <div class="portfolio__items">
      <img class="portfolio__item" src="../img/portfolio__item-aluminum-systems.png" alt="Алюминиевые системы">
      <div class="portfolio__item">
        <img class="portfolio__image" src="../img/portfolio__item-mobil-one-1.png" alt="Специальный проект для mobil 1"></img>
        <img class="portfolio__image" src="../img/portfolio__item-mobil-one-2.png" alt="Специальный проект для mobil 1">
        <img class="portfolio__image" src="../img/portfolio__item-mobil-one-3.png" alt="Специальный проект для mobil 1">
        <img class="portfolio__image" src="../img/portfolio__item-mobil-one-4.png" alt="Специальный проект для mobil 1">
      </div>
    </div>
    <a class="portfolio__button button text_default">Все проекты</a>
  </div>
</section>
