<section class="team">
  <div class="container">
    <h1 class="team__header text text_header">Наша команда</h1>
    <p class="team__text text text_light">Создание новых и поддержка существующих интернет&nbsp;-&nbsp;сайтов и e&#8209;commerce&nbsp;-&nbsp;решений, интернет - порталов и интеграция существующих веб&nbsp;-&nbsp;сервисов с внешними системами</p>
    <div class="team__items">
      <div class="team__item text_light">
        <div class="team__photo team__photo-1"></div>
        <p class="team__name text text_default-bold">Игорь Вишневский</p>
        Дизайнер
      </div>
      <div class="team__item text_light">
        <div class="team__photo team__photo-2"></div>
        <p class="team__name text text_default-bold">Мария Карина</p>
        Дизайнер
      </div>
      <div class="team__item text_light">
        <div class="team__photo team__photo-3"></div>
        <p class="team__name text text_default-bold">Иван Петров</p>
        Дизайнер
      </div>
    </div>
  </div>
</section>
