<section class="work">
  <div class="container">
    <h1 class="work__header text text_header">С нами работают:</h1>
    <div class="carousel">
      <img class="carousel__button" src="../img/arrow-l.png" alt="left" id="prev">
      <div class="carousel__wrapper">
        <ul class="carousel__list">
          <li class="carousel__item"><img class="carousel__image" src="../img/work-1.png" alt="Republic"></li>
          <li class="carousel__item"><img class="carousel__image" src="../img/work-2.png" alt="Русские сезоны"></li>
          <li class="carousel__item"><img class="carousel__image" src="../img/work-3.png" alt="Mobil"></li>
          <li class="carousel__item"><img class="carousel__image" src="../img/work-4.png" alt="Mighty"></li>
          <li class="carousel__item"><img class="carousel__image" src="../img/work-5.png" alt="Promo store"></li>
        </ul>
      </div>
      <img class="carousel__button" src="../img/arrow-r.png" alt="right" id="next">
    </div>
  </div>
</section>
