.footer
  margin-top: 80px
  padding: 30px 0
  background-color: #38aae2

  .container
    display: flex
    flex-flow: row wrap
    justify-content: space-between

  &__part
    width: auto
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

  &__logo
    width: 100px
    align-self: center

  &__copyright
    margin-top: 20px
    margin-bottom: 30px
    font-size: 12px
    color: #9cd5f1

  &__phone
    font-size: 15px
    color: #fff
    margin-right: 50px
    margin-left: 8px

  &__link
    color: #9cd5f1
    font-size: 15px
    text-transform: uppercase
    text-decoration: none

    &:last-child
      margin-left: 20px

    &:hover
      color: #fff
      text-decoration: underline


@media (min-width: 768px)
  .footer
    padding: 20px 0 30px 0

    &__part
      width: auto
      justify-content: flex-start

    &__logo
      width: auto

    &__copyright
      margin: 0
      margin-left: 30px
      align-self: flex-end
