.header
  background-color: #38aae2

  .container
    display: flex
    justify-content: space-between
    align-items: center
    padding: 19px 0
    border-bottom: 1px solid #60bbe8

  &__logo
    width: 100px
    margin-right: 90px

  &__buttons
    height: 20px
    // flex-basis: 90px
    flex-basis: 100%
    align-items: center
    display: flex
    justify-content: space-between

    border: 1px solid black

  &__image
    width: 20px
    align-self: center
    user-select: none

    &:hover
      cursor: pointer
