.header
  background-color: #38aae2

  .container
    display: flex
    justify-content: space-between
    padding: 19px 0
    border-bottom: 1px solid #60bbe8

  &__logo
    width: 100px
    height: 30px

  &__buttons
    height: 30px
    flex-basis: 90px
    display: flex
    align-items: flex-end
    justify-content: space-between

  &__user
    width: 21px
    height: 21px
    background-image: url('../img/user.png')
    background-color: #38aae2

  &__phone
    width: 21px
    height: 20px
    background-image: url('../img/phone.png')
    background-color: #38aae2
